@page
@model CoffeeCatRazporPage.Pages.Home.UserProfileModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Profile</h2>
        </div>

        <div class="col-6 text-end">
            <form method="post">
                <button type="submit" class="btn btn-danger" asp-page-handler="Logout">Logout</button>
            </form>
        </div>
        <br />

        <div class="mt-5">
            <label style="font-weight: bold; font-size: 22px;">Name</label>
            <p>@Model.User.CustomerName</p>
        </div>
        <br />

        <div>
            <label style="font-weight: bold; font-size: 22px;">Email</label>
            <p>@Model.User.CustomerEmail</p>
        </div>
        <br />

        <div>
            <label style="font-weight: bold; font-size: 22px;">Phone Number</label>
            <p>@Model.User.CustomerTelephone</p>
        </div>
    </div>
</div>