@page
@model CoffeeCatRazporPage.Pages.Home.UserProfileModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Profile</h2>
        </div>

        <div class="col-6 text-end">
            <form method="post">
                <button type="submit" class="btn btn-danger" asp-page-handler="Logout">Logout</button>
            </form>
        </div>
    </div>
</div>