<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeCatRazporPage</title>
    <link rel="stylesheet" href="~/css/bootwatch.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoffeeCatRazporPage.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h1>
                    Coffee Cat
                </h1>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:50px;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <h2>
                                <a class="nav-link text-dark" href="/">
                                    <i class="bi bi-house-heart-fill"></i>
                                </a>
                            </h2>
                        </li>
                        @if (Context.Session.GetInt32("RoleId") == 4)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/BookingHistory" asp-page-handler="BookingHistory">BookingHistory</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <h2>
                                <a class="nav-link text-dark" href="/Auth/SignIn">
                                    <i class="bi bi-person-circle"></i>
                                </a>
                            </h2>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - 3 Bitch - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>