@page
@model CreateItemModel
@{
    ViewData["Title"] = "Create Item ";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="createItemForm">
    <!-- Các trường nhập liệu cho cửa hàng ở đây -->

    <div id="itemsDiv" class="form-group">
        <label for="ItemName">Item Name:</label>
        <input id="ItemName" name="ItemName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ItemPrice">Item Price:</label>
        <input id="ItemPrice" name="ItemPrice" type="number" class="form-control" step="100" min="0" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create Item" class="btn btn-primary" onclick="return ('Are you sure you want to save ?');" />
        <a asp-page="./MenuItemManager" class="btn btn-primary">Back</a>
    </div>
</form>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<script>
    var errorMessage = '@Model.ErrorMessage';
    if (errorMessage !== '') {
        alert(errorMessage);
    }
</script>

