@page
@model CreateTableModel
@{
    ViewData["Title"] = "Create Table";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="createTableForm">
    <!-- Các trường nhập liệu cho cửa hàng ở đây -->

    <div id="tablesDiv" class="form-group">
        <label for="TableName">Table Name:</label>
        <input id="TableName" name="TableName" type="text" class="form-control" />

        <label for="TableCapacity">Table Capacity:</label>
        <input id="TableCapacity" name="TableCapacity" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create Table" class="btn btn-primary" onclick="return ('Are you sure you want to save ?');" />
        <a asp-page="./TableManager" asp-route-areaId="@Model.area.AreaId" class=" btn btn-primary">Back</a>
    </div>
</form>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<script>
    var errorMessage = '@Model.ErrorMessage';
    if (errorMessage !== '') {
        alert(errorMessage);
    }
</script>