@page
@model CreateAreaModel
@{
    ViewData["Title"] = "Create Area";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="createAreaForm">
    <!-- Các trường nhập liệu cho cửa hàng ở đây -->

    <div id="areasDiv" class="form-group">
        <label for="AreaName">Area Name:</label>
        <input id="AreaName" name="AreaName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create Area" class="btn btn-primary" onclick="return confirm('Are you sure you want to save ?');" />
        <a asp-page="./AreaManager" class="btn btn-primary">Back</a>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<script>
    var errorMessage = '@Model.ErrorMessage';
    if (errorMessage !== '') {
        alert(errorMessage);
    }
</script>
