@page
@model CreateShopModel
@{
    ViewData["Title"] = "Create Shop";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="createShopForm">
    <!-- Các trường nhập liệu cho cửa hàng ở đây -->

    <div id="areasDiv" class="form-group">
        <label for="ShopName">Shop Name:</label>
        <input id="ShopName" name="ShopName" type="text" class="form-control" />

        <label for="ShopEmail">Shop Email:</label>
        <input id="ShopEmail" name="ShopEmail" type="text" class="form-control" />

        <label for="ShopAddress">Shop Address:</label>
        <input id="ShopAddress" name="ShopAddress" type="text" class="form-control" />

        <label for="ShopTelephone">Shop Telephone:</label>
        <input id="ShopTelephone" name="ShopTelephone" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create Shop" class="btn btn-primary" onclick="return ('Are you sure you want to save ?');" />
    </div>
</form>
