@page
@model CreateShopModel
@{
    ViewData["Title"] = "Create Shop";
}

<h2>@ViewData["Title"]</h2>

<form method="post" id="createShopForm">
    <!-- Các trường nhập liệu cho cửa hàng ở đây -->

    <div id="areasDiv">
        <div>
            <label for="ShopName">Shop Name:</label>
            <input id="ShopName" name="ShopName" type="text" />
        </div>
        <div>
            <label for="ShopEmail">Shop Email:</label>
            <input id="ShopEmail" name="ShopEmail" type="text" />
        </div>
        <div>
            <label for="ShopAddress">Shop Address:</label>
            <input id="ShopAddress" name="ShopAddress" type="text" />
        </div>
        <div>
            <label for="ShopTelephone">Shop Telephone:</label>
            <input id="ShopTelephone" name="ShopTelephone" type="text" />
        </div>
    </div>

    <button type="button" id="addAreaButton">Add Area</button>
    <input type="submit" value="Create Shop" onclick="return ('Are you sure you want to save ?');" />
    <button type="button" onclick="if(confirm('Are you sure you want to cancel ?')) { window.location.href='/ShopManager'; }">Cancel</button>
</form>



