@page
@model IndexModel
@{
    ViewData["Title"] = "Coffee Shops";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our services:</p>
    <ul>
        <li><a asp-page="/Booking">Booking</a></li> <!-- Thêm liên kết đến trang Booking -->
    </ul>
</div>
